html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 15px;
    background-color: #444; 
    color: white;
    flex-shrink: 0;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 2em;
}
nav {
    margin-top: 20px;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu > li {
    position: relative;
    margin: 0 15px;
}

.menu > li > a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #555;
}

.submenu > li > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.submenu > li > a:hover {
    background-color: #666;
}

/* 드롭다운 메뉴 보이기 */
.menu > li:hover .submenu {
    display: block;
}


.controls {
    display: flex;
    align-items: center;
}

.text {
    margin-right: 10px;
}

#fontSizeInput {
    width: 65px;
    text-align: center;
    border: 1px solid #000;
    margin-right: 10px;
}

#toggleFontWeightButton {
    text-align: center;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.tarea {
    flex: 1;
    background: #faf5be;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 8px 10px 2px 50px;
    line-height: 25px;
    box-shadow: 0 1px 3px #b6b6b6;
    position: relative;
    overflow: auto;
    white-space: pre-wrap;
    margin-top: 25px;
    z-index: -1;
}

.tarea::before {
    content: "";
    position: absolute;
    top: 0;
    left: 45px;
    width: 3px;
    height: 100%;
    background: #f131318f;
    z-index: -1;
}

.tarea::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: calc(100% - 25px);
    z-index: -1;
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 23px,
        #666 23px,
        #666 25px
    );
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-top: 1px solid #ccc;
    padding: 0 20px;
    box-sizing: border-box;
}

footer .ads {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

