html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    line-height: 50px;
    line-height: 50px;
    border: 0px solid #000;
    margin: 0 auto;
}

.controls {
    display: flex;
    align-items: center;
}

.text {
    margin-right: 10px;
}

#fontSizeInput {
    width: 65px;
    text-align: center;
    border: 1px solid #000;
    margin-right: 10px;
}

#toggleFontWeightButton {
    text-align: center;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.tarea {
    flex: 1;
    background: #faf5be;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 8px 10px 2px 50px;
    line-height: 25px;
    box-shadow: 0 1px 3px #b6b6b6;
    position: relative;
    overflow: auto;
    white-space: pre-wrap;
    margin-top: 25px;
}

.tarea::before {
    content: "";
    position: absolute;
    top: 0;
    left: 45px;
    width: 3px;
    height: 100%;
    background: #f131318f;
}

.tarea::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: calc(100% - 25px);
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 23px,
        #666 23px,
        #666 25px
    );
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-top: 1px solid #ccc;
    padding: 0 20px;
    box-sizing: border-box;
}

footer .ads {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
